* {
  margin: 0;
  padding: 0;
}

body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  font: 12px/1.5em Lucida Grande, Lucida Sans Unicoe, sans-serif;
  background-color: #404040;
  color: #566e10;
  margin: 0;
  padding: 0;
}

#content {
  margin: 20px 0;
  width: auto;
}

a, a:link, a:visited, a:active {
  color: #A8B400;
  text-decoration: none;
}

a:hover, a:active, a:link, a:visited {
  color: black;
}

#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal; 
}

#utility-nav #top-parent li.util-top {
  margin-right: 1px;
  padding-right: 0;
  border-right: 0 none;
  padding: 0px;
  display: inline;
  float: right;
  margin: 0;
  font-size: 0.95em;
  border-right: 1px solid #6d8501;
}
  
#google-appliance-block-form {
    top: 60px;
    position: absolute;
    width: 165px;
    background-color: #e8e9e3;
    font-size: 11px;
    right: 0;
    z-index: 90;
    border: 1px solid #e8e9e3;
    height: 23px;
    overflow: hidden;
}

#google-appliance-block-form .container-inline {
    border: 1px solid #e8e9e3;
    background: #e8e9e3 url(pdx.edu/sites/all/themes/pdx_respond/images/search-icon.png) no-repeat 4px center;
}

ol, ul {
  list-style: none;
  margin-left: 0;
  padding: 0 0 15px 2em;
}

li {
  display: list-item;
}

ul #top-parent {
  overflow: hidden;
  width: 100%;
  display: block;
  padding-left: 0px;
}

#utility-nav {
  float: right;
  position: absolute;
  width: auto;
  top: 62px;
  z-index: 99;
  right: 0;
  height: 24px;
}

.mega-drop-inner-wrap {
  visibility: hidden;
}

#navigation {
  position: relative;
  z-index: 100;
  padding-left: 15%;
  padding-right: 15%;
}

#navigation li {
  display: block;
  float: left;
  height: 35px;
  padding: 0px 15px 0px 0px;
}

#utility-nav h2 {
  display: none;
}

#main-wrap {
  width: 100%;
  position: relative;
  z-index: 0;
}

#skip-link {
  position: absolute;
  left: -999em;
}

#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#header-wrap {
  height: 160px;
  width: 100%;
  background: #566e10 no-repeat center top;
  position: relative;
  z-index: 0;
}

#header-overlay {
  width: 100%;
  max-width: 960px;
  height: 65px;
  margin-bottom: -65px;
  display: block;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 100;
  color: #566e10;
}

#main {
  margin-top: -50px;
}

#main-menu {
  position: relative;
  z-index: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#block-views-home-story-buckets-block-1 > .content {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas: 
    "block1 block2 block3"
    "block4 block5 block6";
  grid-row-gap: 80px;
  grid-column-gap: 30px;
  margin: 50px 50px auto 150px;
}

.view-content {
  padding-left: 10%;
  padding-right: 10%;
}

.view-display-id-block-1 {
  grid-area: "block1";
}

.view-display-id-attachment-1 {
  grid-area: "block2";
}

.view-display-id-attachment-2 {
  grid-area: "block3";
}

.view-display-id-attachment-3 {
  grid-area: "block4";
}

.view-display-id-attachment-4 {
  grid-area: "block5";
}

.view-display-id-attachment-5 {
  grid-area: "block6";
}