* {
  list-style: none;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
}

li {
  background-color: gray;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.one {
  float: left;
  width: 34%;
  height: 210px;
  margin-top: 0;
}

.two {
  height: 120px;
}

.two, .three, .four {
  margin-left: 40%;
}

.five {
  margin-left: 109.25px;
  margin-right: 109.25px;
}
